<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ENTC Results{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>                
        <!-- Navbar -->
        <div id='cssmenu'>
            <ul>
               <li ><a href='#'><span>Home</span></a></li>
               <li><a href='#'><span>Players</span></a></li>
               <li><a href='#'><span>Resources</span></a></li>
               <li><a href='#'><span>Equipments</span></a></li>
               <li><a href='#'><span>Borrow Equipments</span></a></li>
               <li><a href='#'><span>Allocate Resources</span></a></li>
               <!-- <li class='last'><a href='#'><span>Contact</span></a></li> -->
            </ul>
        </div>

        <!-- Content -->
        <div class="panel panel-default">
            <div class="panel-heading">{{ block('title') }}<div class="pull-right">{% block links %}{% endblock %}</div></div>
            <div class="panel-body">
                {% block body %}{% endblock %}

                {% block javascripts %}{% endblock %}            
            </div>
        </div>

    
    </body>
</html>
