{# app/Resources/views/student/viewall.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Students
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('student_create')}}"> <button type="button" class="btn btn-xs btn-success">Create Student</button></a>
    </div>
{% endblock %}


{% block body %}
<table width="100%">
	<tr>
		<th>Index No.</th>
        <th>Name</th>
        <th>CGPA</th>
		<th>Rank</th>
	</tr>

    {% for student in students %}
    	<tr>
	        <td>
	        	<a href="{{url('student_view',{'id':student.id})}}">{{ student.indexNo|e }}</a>
	        </td>

	        <td>
	        	{{ student.name|e }} 
	        </td>

			<td>
				{{ student.cGPA|e }}
	        </td>

	        <td>
	        	{{ student.rank|e }}
	        </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
