{# app/Resources/views/module/viewall.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Modules
{% endblock %}

{% block links %}
    <div class="btn-group" >
       <a href="{{url('module_create')}}"> <button type="button" class="btn btn-xs btn-success">Create Module</button></a>
    </div>
{% endblock %}


{% block body %}
    {% for i in 1..8 %}
        <h3>Semester {{i}}</h3>
        <table align="center" width="80%">
            <tr>
                <th>Module Code</th>
                <th>Title</th>
                <th>Credits</th>
                <th>GPA/non-GPA</th>
<!--                <th>Semester</th>-->
            </tr>

            {% for module in modules %}
                {% if module.semId == i %}
                    <tr>
                        <td>
                            <a href="{{url('module_results',{'mod_code':module.code})}}">{{ module.code|e }}</a>
                        </td>
                        <td>
                            {{ module.title|e }}
                        </td>
                        <td>
                            {{ module.credits|e }}
                        </td>
                        <td>
                            {% if module.gpa == 1 %}
                                GPA
                            {% else %}
                                non-GPA
                            {% endif %}
                        </td>
    <!--
                        <td>
                            {{ module.semId|e }}
                        </td>
    -->
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}


{% endblock %}