{# app/Resources/semester/viewall.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Semester Results
{% endblock %}

{% block links %}

    <ul id="semmenu">
    	{% for semester in semesters %}
  			<li><a href="#{{semester.name}}">{{semester.name}}</a></li>
  		{% endfor %}
	</ul> 
{% endblock %}



{% block body %}
<div class="results">
    {% for semester in semesters %}
    <h3 id="{{semester.name}}">{{semester.name | e}}</h3>
	
	<table width="100%">
		<tr>
			<th>Index No.</th>
	        <th>Name</th>
	        <th>GPA</th>
			<th>Rank</th>
		</tr>

	    {% for result in results %}
    		{% if result.semId == semester.id %}
	    	<tr>
		        <td>
		        	<a href="{{url('student_view',{'id':result.stuId})}}">{{ result.studentIndex |e }}</a>
		        </td>

		        <td>
		        	{{ result.studentName |e }} 
		        </td>

				<td>
					{{ result.gPA}}
		        </td>

		        <td>
		        	{{ result.rank}}
		        </td>
	        </tr>
	        {% endif %}
	    {% endfor %}
	</table>

    {% endfor %}

	
	
</div> 
{% endblock %}